extends layout.pug

block content
	section#content
		h2= text
		p
			if hint != ""
				i Hint: #{hint}
		//- ul
		//- 	each color in colors
		//- 		li= color
		
		a(href=`/cards/${id}?side=${oppositeSideUrl}`)= oppositeSide
		br
		a(href="/cards") Next card

